* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: White;
}

ul {
  list-style: none;
}

li {
  padding: 0rem 2rem;
}

.main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100vw;
}

.main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 90vw;
  margin: 0 5%;
}

.main-head nav #logo {
  height: 10vh;
  margin-top: 1rem;
  cursor: pointer;
}

.main-head nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-head nav .burger {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  padding: 0.2rem 2rem;
  background: black;
  margin: 0.5rem 0rem;
  display: block;
}

main {
  height: 100vh;
  width: 100vw;
  background: #020713;
  color: aliceblue;
  overflow: hidden;
  z-index: -2;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 5%;
  z-index: 2;
}

.hero .intro {
  margin-top: 25vh;
  margin-bottom: 2rem;
  z-index: 1;
}

.hero .intro h1 {
  z-index: 2;
  font-size: 4rem;
}

.hero .intro h2 {
  font-style: italic;
  font-weight: 50;
}

.hero .intro .lin {
  position: absolute;
  bottom: 0%;
  left: 50%;
}

.hero .intro .port {
  font-size: 1.3rem;
  position: absolute;
  bottom: 5%;
  left: 47.5%;
}

.hero .intro button {
  margin: 1rem 1rem 2rem 0rem;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(92.28deg, #9cf3d0 0%, #7ccaec 99%);
  border: none;
  border-radius: 10px;
  color: white;
}

.hero .intro .social {
  margin: 1rem 2rem 0.5rem 0rem;
}

#svg2 {
  position: fixed;
  bottom: 10%;
  left: 20%;
  width: 150vw;
  height: 150vh;
  z-index: 0;
}

#voilet {
  position: fixed;
  opacity: 0.7;
}

#logoback {
  position: fixed;
  top: 35vh;
  left: 40vw;
}

#logoback {
  -webkit-animation: fill 0.5s ease forwards 3s;
          animation: fill 0.5s ease forwards 3s;
}

#logoback path:nth-child(1) {
  stroke-dasharray: 1077;
  stroke-dashoffset: 1077;
  -webkit-animation: line-ani 2s forwards 1s;
          animation: line-ani 2s forwards 1s;
}

#logoback path:nth-child(2) {
  stroke-dasharray: 558;
  stroke-dashoffset: 558;
  -webkit-animation: line-ani 2s forwards 1s;
          animation: line-ani 2s forwards 1s;
}

@-webkit-keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  to {
    stroke-opacity: 0;
    fill: url(#color);
    opacity: 0.5;
  }
}

@keyframes fill {
  to {
    stroke-opacity: 0;
    fill: url(#color);
    opacity: 0.5;
  }
}

#voilet2 {
  position: fixed;
  left: 30rem;
  opacity: 0.7;
}

.ics {
  height: 0vh;
}

.t1 {
  position: fixed;
  top: 10%;
  left: -5vw;
}

.t2 {
  position: fixed;
  top: -5rem;
  left: 5vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.t3 {
  position: relative;
  top: -17rem;
  left: -25vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.t4 {
  position: fixed;
  top: 5rem;
  right: 16vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.t5 {
  position: fixed;
  top: -5rem;
  right: 0rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.t6 {
  position: fixed;
  bottom: 9rem;
  left: -4vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.t7 {
  position: fixed;
  bottom: 15rem;
  right: 2vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.t8 {
  position: fixed;
  bottom: 1rem;
  left: -2vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.t9 {
  position: fixed;
  bottom: 2rem;
  right: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.t10 {
  position: fixed;
  bottom: 7rem;
  right: 17vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.t11 {
  position: fixed;
  bottom: 2rem;
  right: 2vw;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */